.contacts {
    padding: 70px 0px 0px 0px;
    background: url('../media/contact-fone.mp4');
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts__header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
}

.contacts__wraper {
    width: 100%;
    height: 85vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contacts__description {
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.contacts__description>:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.adress-title, .phone-title, .email-title {
    font-size: 28px;
    line-height: 45px;
}

.adress-text, .phone-text, .email-text {
    font-size: 18px;
}

.wrapper-form {
    width: 40%;
    height: 400px;
    background: rgba(255, 255, 255, 0.692);
    padding: 30px;
    border: 1px solid white;
}

.form__box {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.form__box>:not(:last-child) {
    margin: 0px 0px 0px 0px;
}

.form-input {
    position: relative;
    z-index: 20;
    display: block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.form-button {
    outline: none;
    border: none;
    margin: 40px 0px 0px 0px;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 5px;
    border: none;
    background: #1e98ff;
    color: white;
}

.wrapper-map {
    width: 100%;
}

.wrapper-map iframe {
    width: 100%;
}

/* -----тултип для имени---- */
.wrapper-tooltip {
    position: relative;
    z-index: 10;

}

.tooltip__box {
    position: relative;
    z-index: 5;
    width: 100%;
    background: #1e98ff;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.tooltip__box::before {
    position: absolute;
    content: "\2716";
    color: white;
    font-size: 14px;
    z-index: 10;
    right: 10px;
    top: 6px;
}

.disactive {
    opacity: 0;
    top: -40px;
}

.active {
    opacity: 1;
    top: 0px;
}

@media (min-width: 360px) and (max-width: 1099px) {
    .contacts__header h1 {
        font-size: 3rem;
    }


}

@media (min-width: 360px) and (max-width: 649px) {
    .contacts__wraper {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;
    }

    .contacts__description {
        width: 100%;
    }

    .wrapper-form {
        width: 100%;
    }

    .form-button {
        margin: 0px 0px 0px 0px;
    }

    .adress-title, .phone-title, .email-title {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (min-width: 650px) and (max-width: 899px) {
    .contacts__wraper {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 80%;
        margin: 0px auto;
    }

    .contacts__description {
        width: 100%;
    }

    .wrapper-form {
        width: 100%;
    }

    .form-button {
        margin: 30px 0px 0px 0px;
    }

    .adress-title, .phone-title, .email-title {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (min-width: 900px) and (max-width: 1099px) {
    .contacts__wraper {
        height: 70vh;
    }

    .form-button {
        margin: 0px 0px 0px 0px;
    }
}

@media (min-width: 1100px) and (max-width: 1300px) {
    .contacts__header h1 {
        font-size: 40px;
    }
}
