.main-head {
    background: #131c27;
    color: white;
    position: fixed;
    z-index: 100;
}

nav {
    width: 100vw;
    min-height: 10vh;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 2rem;

}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    cursor: pointer;
    flex: 2 1 40rem;
    display: flex;
    align-items: center;
}

.logo-title {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
}